/* styles.css */
.customOverlay {
  background: transparent;
}

.customModalDetailPost {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  width: 800px;
  border-radius: 0.75rem;
  overflow: hidden;
}
